<% labeled_form_for @todo do |f| -%>
<fieldset>  
  <%= f.text_field :name %>
  <p>
    <% if @todo.new_record? -%>
      <%= submit_tag "Create" %> or
      <%= cancel_link todos_path %>
    <% else -%>
      <%= submit_tag "Update" %> or
      <%= cancel_link todo_path(@todo) %>
    <% end -%>
  </p>
</fieldset>
<% end -%>
